aerospike==3.6.0
apache-beam==2.15.0
colander==1.7.0
datadog==0.26.0
docker==3.7.0
google-api-python-client==1.7.8
google-apitools==0.5.30
google-cloud-bigquery==1.23.1
google-cloud-container==0.2.1
google-cloud-core==1.3.0
google-cloud-language==1.2.0
google-cloud-monitoring==0.31.1
google-cloud-speech==1.1.0
google-cloud-storage==1.15.2
google-cloud-translate==1.4.1
google-cloud-videointelligence==1.9.0
google-cloud-vision==0.38.0
google-resumable-media==0.4.1
googleads==21.0.0
grpcio==1.23.0
grpcio-gcp==0.2.2
munch==2.3.2
pandas==0.25.3
pandas-gbq==0.9.0
pipdeptree==0.13.1
psycopg2==2.7.7
pysha3==1.0.2
sendgrid==5.6.0
shareplum==0.5.1
six==1.14.0
xlrd==1.2.0
xlsxwriter==1.2.2
yarg==0.1.9
paramiko==2.7.1